#!/usr/bin/env bash

# ###########################################################
# Exports
# ###########################################################



export PATH=/opt/local/bin:/opt/local/sbin:${PATH}
# export PATH=/usr/local/bin:$PATH
