"*":
  "atom-beautify":
    css:
      indent_char: "2"
      preserve_newlines: true
    general:
      _analyticsUserId: "058a6295-be70-4440-896b-712e0a855bec"
    js:
      end_with_newline: true
      keep_array_indentation: true
      keep_function_indentation: true
      space_after_anon_function: true
    json:
      beautify_on_save: true
    less:
      indent_size: 2
    markdown: {}
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "jshint"
    ]
    projectHome: "/Users/erik/Projects"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    invisibles: {}
    preferredLineLength: 200
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 2
  "exception-reporting":
    userId: "5dc40fe1-727a-90ca-924a-3fa1856d3457"
  "file-icons":
    onChanges: true
  "find-and-replace": {}
  gistId: "35d11656ac25b790f9da60cc257ea014"
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-line":
    enableSelectionBorder: true
    enableUnderline: true
    underline: "dotted"
  linter: {}
  "linter-ui-default": {}
  minimap: {}
  "one-dark-ui": {}
  personalAccessToken: "70a342067a20c3ed1d0b6e1d60dfb63e541c8737"
  "php-cs-fixer": {}
  pigments:
    extendAutocompleteToColorValue: true
  "status-bar": {}
  "sync-settings":
    _analyticsUserId: "16114532-395a-48a6-9139-4abb9646f99f"
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    preferredLineLength: 200
